<%- include("header") -%>
<div class="box" id="heading">
    <h1> Sign Up </h1>
  </div>
<div class="box">
  <form style="padding: 20px;" action="/user/signup" method="post">
    <div>
        <input class="form-input" type="text" name="name" placeholder="Name" />
    </div>
    <div>
        <input class="form-input" type="email" name="email" placeholder="Email" />
    </div>
    <div>
        <input class="form-input" type="password" name="password" placeholder="Password" />
    </div>
    <button class="btn" type="submit">Sign In</button>
    <p class="link">Already have an account? <span><a style="text-decoration: none; color: #0b75ff;" href="/user/login">Login</a></span></p>
  </form>
</div>

<%- include("footer") -%>